@model SalesAndInentoryWeb_Application.Models.tbl_ItemMaster
@{
    ViewBag.Title = "itemmaster";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script>
$(document).ready(function(){
    $("#it").click(function () {
        $('#itemtracking').toggle("slider");
  });
});
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="panel panel-primary container" style="width:100%;background-color:white">
            @*<div class="panel-heading text-center"><h4>Item Master</h4><a class="btn-primary pull-right" style="margin-top:-45px;"> <i class="fa fa-times" style="color:white; font-size:20px;"></i></a></div>*@
            <div class="panel-heading "><a class="btn" href=@Url.Action("Index","PaymentOut") style="background-color:#05445E;color:white">Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:17px;">Item Master</p></div>

             <div class="panel border-box">
                <nav class="navbar navbar-default " style="background-color:white;border:none" >
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse ">
                            <br />
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label1";
                                   settings.Text = "Item Name   :";                                
                               }).GetHtml()
                                        </div>
                                    </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.ItemName, settings =>
                               {
                                   settings.Properties.NullText = "Enter Item Name ...";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["height"] = "20px";
                                   settings.Style["border"] = "1px solid black";

                               }).GetHtml()

                                </div>
                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label3";
                                   settings.Text = "Has Code : ";

                               }).GetHtml()
                                        </div>
                                    </div>

                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.HSNCode, settings =>
                               {
                                   settings.Properties.NullText = "Enter Hsn Code...";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Height = 30;
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()
                                </div>
   
                                                                         
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "codelablr";
                                   settings.Text = "Item Code   :";


                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.ItemCode, settings =>
                               {
                                   settings.Properties.NullText = "Enter Item Code...";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()

                                </div>
                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "lablelocation";
                                   settings.Text = "Catergory";

                               }).GetHtml()
                                        </div>
                                    </div>
                                <div class="form-group col-md-4">
                                    <select name="state" id="state" class="form-control" style="border: 1px solid black" ;>
                                        <option value=""></option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Isla</option>

                                        </select>

</div>
                                </div>
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "lablesaleprice";
                                   settings.Text = "Purchase Price :";


                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.SalePrice, settings =>
                               {
                                   settings.Properties.NullText = "Amount";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()

                                </div>



                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "lablesaletax";
                                   settings.Text = "Tax Type :";

                               }).GetHtml()
                                        </div>
                                    </div>
                                <div class="form-group col-md-4">
                                    <select name="state" id="purchasetax" class="form-control" style="border: 1px solid black" ;>
                                        <option value="">---Select--</option>
                                        <option value="withtax">With Tax</option>
                                        <option value="withouttax">Without Tax</option>

                                    </select>


                                    </div>

                               
                                </div>

                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "salelable";
                                   settings.Text = "Sale Price :";


                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.PurchasePrice, settings =>
                               {
                                   settings.Properties.NullText = "Amount";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()

                                </div>




                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labeltax2";
                                   settings.Text = "Tax Type :";

                               }).GetHtml()
                                        </div>
                                    </div>
                                <div class="form-group col-md-4">
                                    <select name="state" id="saletal" class="form-control" style="border: 1px solid black" ;>
                                        <option value="">---Select--</option>
                                        <option value="withtax">With Tax</option>
                                        <option value="withouttax">Without Tax</option>

                                    </select>


                                    </div>
                                </div>
                            <div class="row">



                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "ratelable";
                                   settings.Text = "Select Tax Rate :";
                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @*@Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "taxrate";
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                                       settings.Properties.Items.Add("0.25%");
                                       settings.Properties.Items.Add("5%");

                                       settings.Properties.Items.Add("12%");
                                       settings.Properties.Items.Add("18%");
                                       settings.Properties.Items.Add("28%");
                                       settings.ControlStyle.CssClass = "form-control";


                                   }).GetHtml()*@

                                    <select name="state" id="saletal" class="form-control" style="border: 1px solid black" ;>
                                        <option value="">---Select--</option>
                                        <option value="0.25">0.25%</option>
                                        <option value="5">5%</option>
                                        <option value="12">12%</option>
                                        <option value="18">18%</option>
                                        <option value="28">28%</option>

                                    </select>

                                </div>





                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labe cess";
                                   settings.Text = "Cass Per Unit :";

                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">

                                    @Html.DevExpress().TextBoxFor(m => m.Cess, settings =>
                               {
                                   settings.Properties.NullText = "Amount";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()
                                </div>

</div>
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">

                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labelbarcode";
                                   settings.Text = "Item Barcode    :";


                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.Barcode, settings =>
                               {
                                   settings.Properties.NullText = "Enter ITem Barcode  ...";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()

                                </div>
                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                              @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "labatprice";
                                   settings.Text = "At Price:";
                               }).GetHtml()
                                        </div>
                                    </div>
                                <div class="form-group col-md-4">

                                    @Html.DevExpress().TextBoxFor(m => m.atPrice, settings =>
                               {
                                   settings.Properties.NullText = "Amount";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()
                                </div>
                                    </div>
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">

                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labeopening qtys";
                                   settings.Text = "Opening  Quntity:";

                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">

                                    @Html.DevExpress().TextBoxFor(m => m.OpeningQty, settings =>
                               {
                                   settings.Properties.NullText = "Amount";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["border"] = "1px solid black";
                               }).GetHtml()

                                </div>
                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                              @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Datelable";
                                   settings.Text = "Date :";

                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">

                                    <input type="date" class="form-control" style="border: 1px solid black" />

                                </div>
                            </div>
                                         <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">

                                     
                                    </div>
                                </div>
                                <div class="form-group col-md-4">

                                    <input type="button" class="btn btn-yahoo" value="Item Tracking Details" onclick="PopupForm('@Url.Action("ItemTraking","ItemMaster")')"name="itemtracking" style="height:32px;width:45%" />
                                    <input type="button" value="Select Unit" onclick="PopupForm('@Url.Action("ItemTraking","ItemMaster")')" class="btn btn-yahoo" style="height:31px; width:45%" />

                                </div>
                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                       
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="reset" value="Clear" class="btn btn-primary pull-left" style="margin-right:12px; margin-top:2px; width:35%;color:black " />
                                    <input type="submit" value="Save" class="btn btn-primary pull-left" style="margin-right:12px;margin-top:2px;width:35% ;color:black" />
                                   
                                </div>
                            </div>              
                             
                                    <div class="row" style="background-color:white; border:1px solid; display:none" id="itemtracking">
                                        <div class="form-group col-md-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = " lablemrp";
                                   settings.Text = "MRP Rate :";

                               }).GetHtml()

                                            @Html.DevExpress().TextBoxFor(m => m.TrackingMRP, settings =>
                                       {
                                           settings.Properties.NullText = "Amounr";
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()

                                        </div>
                                        <div class="form-group col-xs-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "sizelable";
                                   settings.Text = "Size:";

                               }).GetHtml()

                                            @Html.DevExpress().TextBoxFor(m => m.Size, settings =>
                                       {
                                           settings.Properties.NullText = "Size";
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()

                                        </div>


                                        <div class="form-group col-xs-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "lablebatch no";
                                   settings.Text = "Batch no :";

                               }).GetHtml()

                                            @Html.DevExpress().TextBoxFor(m => m.BatchNo, settings =>
                                       {
                                           settings.Properties.NullText = "Amount";
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()

                                        </div>

                                        <div class="form-group col-xs-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "lableserale";
                                   settings.Text = "Serial No:";

                               }).GetHtml()

                                            @Html.DevExpress().TextBoxFor(m => m.SerialNo, settings =>
                                       {
                                           settings.Properties.NullText = "Serial no";
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Style["border"] = "1px solid black";

                                       }).GetHtml()

                                        </div>




                                        <div class="form-group col-xs-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labelexpdate";
                                   settings.Text = "Exp.Date :";

                               }).GetHtml()


                                            @Html.DevExpress().DateEdit(settings =>
                                       {
                                           settings.Name = "expdate";
                                           settings.Properties.NullText = "Date";
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()




                                        </div>



                                        <div class="form-group col-xs-2">

                                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "labelmfdate";
                                   settings.Text = "Mfg.Date :";

                               }).GetHtml()


                                            @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "mfddate";
                                       settings.Properties.NullText = "Date";
                                       settings.ControlStyle.CssClass = "form-control";
                                   }).GetHtml()

                                        </div>
                                    </div>


                                </div>

                            </div>
                </nav>         
                
            </div>
        </div>

    }
    @section scripts{
        <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>
        <script>
        var Popup, dataTable;
        $(document).ready(function () {
			dataTable = $("#bankaccount").DataTable({
                "ajax": {
					"url": "/BankAccount/Data",
                    "type": "GET",
                   "datatype": "json"

                },
				"columns": [
					{ "data": "ID" },
					{ "data": "AccountName" },
					{ "data": "BankName" },
                    { "data": "AccountNo" },
					{ "data": "OpeningBal" },
					{ "data": "Date" },
                    {"data":"ID" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "BankAccount")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Select Unit',
                    height: 250,
                    width:300,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }


        function PopupForm1(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Select Unit',
                    height: 500,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if($(form).valid()){
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Employee Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","BankAccount")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
        </script>
    }



</body>
</html>



