@model IEnumerable<SalesAndInentoryWeb_Application.Models.tbl_ItemMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSNCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxForSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxForPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackingMRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFgdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSNCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxForSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleTaxAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxForPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseTaxAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackingMRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFgdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ItemID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item. })
        </td>
    </tr>
}

</table>
