@model SalesAndInentoryWeb_Application.Models.tbl_ItemMaster
@{
    ViewBag.Title = "ItemMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>Company Details</h4></div>
            <div class="panel-body text-center">
                <center>
                    <table class="tabel table-sm" column-gap="40px" style="border:1px solid">
                        <tbody>
                            <tr>
                                <td style="padding:0 10px 0 10px" >
                                    <div class="form-group " style="text-align:center">

                                        @Html.DevExpress().Label(settings =>
                                            {
                                                settings.Name = "lableitem ";
                                                settings.Text = "Item Name ";
                                            }).GetHtml()

                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        @Html.DevExpress().TextBoxFor(m => m.ItemName, settings =>
                                            {
                                                settings.Properties.NullText = "Enter Item Name";
                                            }).GetHtml()

                                    </center>

                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-center ">

                                        @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Style["font-weight"] = "bold";
                                       settings.Name = "lable hsn ";
                                       settings.Text = "Item Name ";
                                   }).GetHtml()

                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        @Html.DevExpress().TextBoxFor(m => m.ItemCode, settings =>
                                            {
                                                settings.Properties.NullText = "Enter Item Name";
                                            }).GetHtml()

                                    </center>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
            

            </div>

    }
    </body>
</html>