@model SalesAndInentoryWeb_Application.tbl_SaleInvoice
    
@{
    ViewBag.Title = "SaleInvoice";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>   
    <style>
        .scrolldown 
        {
                overflow-y:scroll;
                height:100px;
         }   
        textarea.form-control 
        {      
            height:40px;      
            margin: 0px;
            resize: vertical;
        }
    </style>
        <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnaddtolist").click(function () {
                AddToItem();
            });
            $("#btnsubmit").click(function (e) {
                additems();
            });
            $("#ID").change(function () {
                debugger
                var fruitId = $(this).find("option:selected").val();
                if (fruitId != "") {
                    $.ajax
                   ({
                       type: "POST",
                       url: "/SaleOrder/GetFruitName1",
                       data: "id=" + fruitId,
                       success: function (data) {
                           var content = "";
                           for (var x in data) {
                               $("#SalePrice").val(data[x].SalePrice);
                               $("#TaxForSale").val(data[x].TaxForSale);
                               $("#SaleTaxAmount").val(data[x].SaleTaxAmount);
                           }
                       }
                   });
                }
            });
            $("#PartiesID").change(function () {
                debugger
                var fruitId = $(this).find("option:selected").val();
                if (fruitId != "") {
                    $.ajax
                   ({
                       type: "POST",
                       url: "/SaleOrder/GetFruitName",
                       data: "id=" + fruitId,
                       success: function (data) {
                           var content = "";
                           for (var x in data) {
                               $("#BillingName").val(data[x].BillingAddress);
                               $("#ContactNo").val(data[x].ContactNo);
                           }

                       }
                   });
                }
            });

            $("#SalePrice").change(function () {
                debugger
                var mrp = $("#SalePrice").val();
                var tax = $("#TaxForSale").val();
                var dis = $("#Discount").val();
                var qty = $("#Qty").val();
                var itempricecall = mrp * 1;
                var tax_cal = itempricecall * tax / 100;
                var dis_count = itempricecall * dis / 100;
                var finalcal = (itempricecall + tax_cal) - dis_count

                $("#DiscountAmount").val(dis_count);
                $("#SaleTaxAmount").val(tax_cal);
                $("#ItemAmount").val(finalcal);
                $("#Qty").val(1);

            });

            $("#TaxForSale").change(function () {
                debugger
                var mrp = $("#SalePrice").val();
                var tax = $("#TaxForSale").val();
                var dis = $("#Discount").val();
                var qty = $("#Qty").val();
                var itempricecall = mrp * qty;
                var tax_cal = itempricecall * tax / 100;
                var dis_count = itempricecall * dis / 100;
                var finalcal = (itempricecall + tax_cal) - dis_count

                $("#DiscountAmount").val(dis_count);
                $("#SaleTaxAmount").val(tax_cal);
                $("#ItemAmount").val(finalcal);
                $("#Qty").val(1);

            });

            $("#Discount").change(function () {
                debugger
                var mrp = $("#SalePrice").val();
                var tax = $("#TaxForSale").val();
                var dis = $("#Discount").val();
                var qty = $("#Qty").val();
                var itempricecall = mrp * qty;
                var tax_cal = itempricecall * tax / 100;
                var dis_count = itempricecall * dis / 100;
                var finalcal = (itempricecall + tax_cal) - dis_count

                $("#DiscountAmount").val(dis_count);
                $("#SaleTaxAmount").val(tax_cal);
                $("#ItemAmount").val(finalcal);
                $("#Qty").val(1);

            });


            $("#Recived").change(function () {

                var recived = $("#Recived").val();
                var pretotal = $("#finaltotal").val();
                var tototo = pretotal - recived;
                $("#RemainingBal").val(tototo);
            });

            $("#Qty").change(function () {
                debugger
                var mrp = $("#SalePrice").val();
                var tax = $("#TaxForSale").val();
                var dis = $("#Discount").val();
                var qty = $("#Qty").val();
                var itempricecall = mrp * qty;
                var tax_cal = itempricecall * tax / 100;
                var dis_count = itempricecall * dis / 100;
                var finalcal = (itempricecall + tax_cal) - dis_count

                $("#DiscountAmount").val(dis_count);
                $("#SaleTaxAmount").val(tax_cal);
                $("#ItemAmount").val(finalcal);
                $("#Qty").val(1);

            });

        });
        function RemoveItem(ItemName)
        {
            $(ItemName).closest('tr').remove();
        }
        function AddToItem()
        {
            var tableitemlist = $("#tblSaleInvoice");
            var ItemName=$("#ID option:selected").val();
            var mrp = $("#SalePrice").val();
            var tax = $("#TaxForSale").val();
            var dis = $("#Discount").val();
            var qty = $("#Qty").val();
            var disamt = $("#DiscountAmount").val();
            var taxmat = $("#SaleTaxAmount").val();
            var total = $("#ItemTotal").val();

            var itemlist = "<tr><div class='scrollit' ><td>" + ItemName + "</td><td>" + mrp + "</td><td>" + tax + "</td><td>" + dis + "</td><td>"
            + qty + "</td><td>" + disamt + "</td><td>" + taxmat + "</td><td>" + total + "</td><td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/></td></div></tr>"
            tableitemlist.append(itemlist);
            reset();

            var finding = 0;
            $("tr").each(function (indexTr) {

                var mm = +$(this).find('td:eq(7)').text();
                finding = finding + mm
                $("#Total").val(finding);
            });
            var taxfinding = 0;
            $("tr").each(function (indexTr) {
                debugger
                if (isNaN(taxfinding)) {
                    taxfinding = 0;
                }
                var mm = +$(this).find('td:eq(6)').text();
                taxfinding = taxfinding + mm;
                $("#TaxAmount1").val(taxfinding);
            })
        }
        function reset()
        {
            $("#ID option:selected").val('');
            $("#SalePrice").val('');
            $("#TaxForSale").val('');
            $("#Discount").val('');
            $("#Qty").val('');
            $("#DiscountAmount").val('');
            $("#SaleTaxAmount").val('');
            $("#ItemTotal").val('');
        }
        function additems()
        {
            var objsalepartydetails = {};
            var saleinvoiceitemdetails = [];
            var ItemDetails = {};
            //var tablemarks = $("#tblSaleInvoice").find("tr:gt(0)");

            $.each($("#tblSaleInvoice tbody tr"),
                function () {
                    saleinvoiceitemdetails.push({
                        ItemName: $(this).find("td:eq(0)").text(),
                        SalePrice: $(this).find("td:eq(1)").text(),
                        TaxForSale: $(this).find("td:eq(2)").text(),
                        Discount: $(this).find("td:eq(3)").text(),
                        Qty: $(this).find("td:eq(4)").text(),
                        DiscountAmount: $(this).find("td:eq(5)").text(),
                        SaleTaxAmount: $(this).find("td:eq(6)").text(),
                        ItemTotal: $(this).find("td:eq(7)").text()
                    });
                });

            objsalepartydetails.PartyName = $("#PartiesID option:selected").val();
            objsalepartydetails.BillingName = $("#BillingName").val();
            objsalepartydetails.ContactNo = $("#ContactNo").val();
            objsalepartydetails.PONumber = $("#PONumber").val();
            objsalepartydetails.PODate = $("#PODate").val();
            objsalepartydetails.Barcode = $("#Barcode").val();
            objsalepartydetails.StateOfSupply = $("#StateOfSupply").val();
            objsalepartydetails.Received = $("#Received").val();
            objsalepartydetails.TaxAmount1 = $("#TaxAmount1").val();
            objsalepartydetails.RemainingBal = $("#RemainingBal").val();
            objsalepartydetails.TransportName = $("#TransportName").val();
            objsalepartydetails.DeliveryLocation = $("#DeliveryLocation").val();
            objsalepartydetails.DeliverDate = $("#DeliveryDate").val();
            objsalepartydetails.PaymentType = $("#PaymentType").val();
            objsalepartydetails.TransportName = $("#TransportName").val();
            objsalepartydetails.Status = $("#Status").val();
            objsalepartydetails.VehicleNumber = $("#VehicleNumber").val();
            objsalepartydetails.CalTotal = $("#CalTotal").val();

            objsalepartydetails.SaleInvoiceItemDetails = saleinvoiceitemdetails;
            $.ajax({
                async: true,
                type: "POST",
                datatype: 'JSON',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(objsalepartydetails),
                url: '/SaleInvoice/SaleInvoice',
                success: function (data) {
                    if (data.status == true) {
                        alter(data.message);
                    }
                },
                error: function () {
                    alert("error");
                }

            });

        }
    </script>
</head>
<body>
        @using (Html.BeginForm("SaleInvoice", "SaleInvoice", FormMethod.Post))
        {
        <div class="panel panel-primary container" style="height:100%; width:100%;">
            <div class="panel-heading"><a class="btn" href=@Url.Action("SaleIndexpage","SaleInvoice") style="background-color:#05445E;color:white">Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:20px;">Sale Invoice</p></div>
               <div class="panel border-box">
                   
                       <div class="container-fluid">
                           <div class="collapse navbar-collapse ">
                              
                               <div class="row">
                                   <div class="form-group col-md-3">    
                                       @*<div class="pull-right">                               
                                           @Html.DevExpress().Label(settings =>
                                           {
                                               settings.Style["font-weight"] = "bold";
                                               settings.Name = "Label1";
                                               settings.Text = "Party Name   :";
                                           }).GetHtml()
                                           </div>*@
                                                 
                                       <b> Party Name:</b>  
                                       <br>
                                       @Html.DropDownListFor(model => model.ParitesID, Model.ListOfParties as IEnumerable<SelectListItem>, "Select Item", new { @class = "form-control" })                                  
                                    
                                      <b>Billing Address:</b>
                                        <textarea name='awesome' class="form-control" style = "width:100%;height:30px">Address:</textarea>
                                       </div>
                                   <div class="form-group col-md-3" >
                                       <b>Contact No:</b>
                                       @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile No....." } })
                                       @Html.ValidationMessageFor(model => model.ContactNo)
                                       <b>Barcode:</b>
                                    </div>
                                       <div class="form-group col-md-3">
                                           
                                              <b> Invoice No:</b>
                                               @Html.EditorFor(model => model.PoNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Po Number", @style = "height:30px" } })
                                               @Html.ValidationMessageFor(model => model.PoNumber)
                                               @Html.EditorFor(model => model.TaxAmount1, new { htmlAttributes = new { @class = "form-control", @id = "TaxAmount1", placeholder = "Po Number", @style = "width:150px;height:30px;Display:none;" } })
                                               <b>Invoice Date:</b>
                                               <input placeholder="Invoice Date" class="textbox-n form-control" type="text" onfocus="(this.type='date')" style="height:30px" id="InvoiceDate">                       
                                       </div>
                                       <div class="form-group col-md-3">
                                          
                                               <b>EwayBill No:</b>
                                               @Html.EditorFor(model => model.EwayBillNo, new { htmlAttributes = new { @class = "form-control", placeholder = "EwayBill Number", @style = "height:30px" } })
                                               @Html.ValidationMessageFor(model => model.EwayBillNo)
                                              <b> State Of Supply:</b>
                                               <select name="state" id="StateOfSupply" class="form-control" style="height:30px">
                                                   <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                   <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                   <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                   <option value="Assam">Assam</option>
                                                   <option value="Bihar">Bihar</option>
                                                   <option value="Chandigarh">Chandigarh</option>
                                                   <option value="Chhattisgarh">Chhattisgarh</option>
                                                   <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                   <option value="Daman and Diu">Daman and Diu</option>
                                                   <option value="Delhi">Delhi</option>
                                                   <option value="Lakshadweep">Lakshadweep</option>
                                                   <option value="Puducherry">Puducherry</option>
                                                   <option value="Goa">Goa</option>
                                                   <option value="Gujarat">Gujarat</option>
                                                   <option value="Haryana">Haryana</option>
                                                   <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                   <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                   <option value="Jharkhand">Jharkhand</option>
                                                   <option value="Karnataka">Karnataka</option>
                                                   <option value="Kerala">Kerala</option>
                                                   <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                   <option value="Maharashtra">Maharashtra</option>
                                                   <option value="Manipur">Manipur</option>
                                                   <option value="Meghalaya">Meghalaya</option>
                                                   <option value="Mizoram">Mizoram</option>
                                                   <option value="Nagaland">Nagaland</option>
                                                   <option value="Odisha">Odisha</option>
                                                   <option value="Punjab">Punjab</option>
                                                   <option value="Rajasthan">Rajasthan</option>
                                                   <option value="Sikkim">Sikkim</option>
                                                   <option value="Tamil Nadu">Tamil Nadu</option>
                                                   <option value="Telangana">Telangana</option>
                                                   <option value="Tripura">Tripura</option>
                                                   <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                   <option value="Uttarakhand">Uttarakhand</option>
                                                   <option value="West Bengal">West Bengal</option>
                                               </select>
                                             
                                       </div>
                                   </div>
                           </div>
                       </div>


                   <div class="form-group" style="width:100%;">



                       <table style="width:100%;">
                           <tr>
                               <td style="padding:3px">
                                   <label>Barcode</label>
                                   @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control", placeholder = "BarcodNo" } })
                                   @Html.ValidationMessageFor(model => model.Barcode)


                               </td>
                               <td style="padding:3px">
                                   <label>Item Name</label>
                                   @Html.DropDownListFor(model => model.ID, Model.ListOfAccounts as IEnumerable<SelectListItem>, "Select Item",new { @class = "form-control" })
  </td>
                               <td style="padding:3px;text-align:center">
                                   <label>MRP</label>
                                   <input style="text-align:left" type="text" name="SalePrice" id="SalePrice" class="form-control">
     </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Tax%</label>
                                   <input style="text-align:left" type="text" name="TaxForSale" id="TaxForSale" class="form-control">
   </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Descount</label>
                                   <input style="text-align:left" type="text" name="Discount" id="Discount" class="form-control">

                               </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Qty</label>
                                   <input style="text-align:left" type="text" name="Qty" id="Qty" class="form-control">

    </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Dis AMT</label>
                                   <input style="text-align:left" type="text" name="DiscountAmount" id="DiscountAmount" class="form-control">

                                </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Tax Amount</label>
                                   <input style="text-align:left" type="text" name="SaleTaxAmount" id="SaleTaxAmount" class="form-control">

                                     </td>
                               <td style="padding:3px;text-align:center">
                                   <label>Total</label>
                                   <input style="text-align:left" type="text" name="ItemTotal" id="ItemTotal" class="form-control">
 </td>
                               <td style="padding:3px;text-align:center">
                                   <a class="btn btn-success pull-right" style="margin-top:20px;" id="btnaddtolist"><i class="fa fa-plus"></i>Add Item</a>
                               </td>
                           </tr>
                       </table>


                   </div>











          
                    


                                   <div class="form-group scrolldown" style="height:200px;width:100%; border:1px solid">
                                       <table class="table table-striped table-bordered" style="width:100%;" id="tblSaleInvoice">                                                
                                                   <thead>
                                                       <tr>
                                                           <th>
                                                               Item Name
                                                           <th>
                                                               MRP
                                                           </th>
                                                           <th>
                                                               Tax%
                                                           </th>
                                                           <th>
                                                               Discount
                                                           <th>
                                                               Qty
                                                           </th>
                                                           <th>
                                                               Dis Amount
                                                           </th>
                                                           <th>
                                                               Tax Amount
                                                           </th>
                                                           <th>
                                                               Tax Amount
                                                           </th>
                                                       </tr>
                                                   </thead>
                                               </table>
                                           </div>
                                                             
                       <div class="container-fluid">
                           <div class="collapse navbar-collapse ">
                               <div class="row">                               
                                   <div class="col-md-3">
                                       
                                      <b>Transport Name:</b>
                                       @Html.EditorFor(model => model.TransportName, new { htmlAttributes = new { @class = "form-control", placeholder = "Transport Name" } })
                                    
                                     <b>Vehical Name:</b>
                                       @Html.EditorFor(model => model.VehicleNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "vical No" } })
                                       @Html.ValidationMessageFor(model => model.VehicleNumber)
                                  
                                   </div>
                                   <div class="col-md-3 form-group" >
                                    
                                    <b>Delivery Date:   </b>
                                       @Html.TextBoxFor(model => model.Deliverydate, new { @type = "date", @class = "form-control"})
                                      <b> Payment Type:</b>
                                       <select name="cars" id="PaymentType" class="form-control">
                                           <option value="Cash">Cash</option>
                                           <option value="OnlinePayment">Online Payment</option>
                                           <option value="Chuque">Cheque</option>
                                       </select>
                                    </div>
                                   <div class="col-md-3 form-group">
                                     <b>  Payment Status:</b>
                                       @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                                       {
                                           new SelectListItem {Text = "Paid", Value = "Paid", Selected = true },
                                           new SelectListItem {Text = "Unpaid", Value = "Unpaid" },

                                       }, new { @class = "form-control" })
                                     
                                   <b>ChequeNO:</b>
                                       @Html.EditorFor(model => model.Feild3, new { htmlAttributes = new { @class = "form-control", placeholder = "Cheque no" } })
                                       @Html.ValidationMessageFor(model => model.Feild3)
                                       <br />

                                       <input type="submit" value="Submit" class="btn btn-primary pull-left" style="margin-right:12px; width:100px;" id="btnsubmit" />
                                       <input type="reset" value="Clear" class="btn btn-primary pull-right" style="margin-right:12px; width:100px;" />

                                       </div>
                                       <div class="col-md-3 form-group">
                                           <div class="pull-right">
                                             <b> Total :</b>
                                               @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", id = "Total", placeholder = "Total Amount" } })
                                               @Html.ValidationMessageFor(model => model.Total)
                                               <b>Received Amt:</b>
                                               @Html.EditorFor(model => model.Received, new { htmlAttributes = new { @class = "form-control", id = "Received", placeholder = "Recive Ammount" } })
                                               @Html.ValidationMessageFor(model => model.Received)
                                              <b> Remaning Bal:</b>
                                               @Html.EditorFor(model => model.RemainingBal, new { htmlAttributes = new { @class = "form-control", id = "RemainingBal", placeholder = "Remining Balance" } })
                                               @Html.ValidationMessageFor(model => model.RemainingBal)
                                           </div>
                                       </div>
                                   </div>                                  
                           </div>
                           <div class="row">
                               <div class="col-md-1 form-group" style="margin-top:8px; ">
                                 
                               </div>
                               <div class="col-md-3">
                                 
                               </div>
                               <div class="col-md-1 form-group" style="margin-top:8px; ">
                                  
                               </div>
                               <div class="col-md-3 form-group">
                                </div>
                               <div class="col-md-1 form-group" style="margin-top:8px; ">                                 
                               </div>
                               <div class="col-md-3 form-group">                                
                               </div>
                           </div>
                           </div>
                       </div>
                   <div >                     
                   </div>
          </div>        
    }
    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

</body>
</html>



