@model SalesAndInentoryWeb_Application.Models.tbl_SaleInvoice
@{
    ViewBag.Title = "SaleInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
</head>
<body>
    <br>
    @using (Html.BeginForm())
    {
        <div class="panel panel-primary container">
            <div class="panel-heading text-center"><h4>Sale Invoice</h4></div>
               <div class="panel border-box">
                     <div class="row">
                         <div class="form-group col-xs-4">
                             @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label1";
                                   settings.Text = "Party Name   :";


                               }).GetHtml()
                             @Html.DevExpress().DropDownEditFor(m => m.PartyName, settings =>
                                       {
                                           settings.Properties.NullText = "Select Party";
                                           settings.ControlStyle.CssClass = "form-control";

                                           settings.SetDropDownWindowTemplateContent(c =>
                                           {
                                               ViewContext.Writer.Write("DropDown content");
                                           });
                                       }).GetHtml()
                                 </div>
                                 <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label2";
                                   settings.Text = "Po No   :";

                               }).GetHtml()
                                     @Html.DevExpress().TextBoxFor(m => m.PoNumber, settings =>
                                   {
                                       settings.ControlStyle.CssClass = "form-control";
                                       settings.Properties.NullText = "Enter Po Number...";
                                   }).GetHtml()
                                 </div>
                         <div class="form-group col-xs-4">
                             @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label3";
                                   settings.Text = "Invoice Date   :";

                               }).GetHtml()
                             @Html.DevExpress().DateEditFor(m => m.InvoiceDate, settings =>
                        {
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Properties.NullText = "dd/MM/YYYY";

                        }).GetHtml()
                         </div>
                        </div>
                       
                    <div class="row">
                        <div class="form-group col-xs-4">
                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label4";
                                   settings.Text = "Billing Address   :";


                               }).GetHtml()

                            @Html.DevExpress().TextBoxFor(m => m.BillingName, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Billing Address...";
                                       settings.ControlStyle.CssClass = "form-control";
                                   }).GetHtml()
                        </div>
                        <div class="form-group col-xs-4">
                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label5";
                                   settings.Text = "Po Date   :";


                               }).GetHtml()
                            @Html.DevExpress().DateEditFor(m => m.PoDate, settings =>
                       {
                           settings.Properties.NullText = "dd/MM/YYYY";

                           settings.ControlStyle.CssClass = "form-control";

                       }).GetHtml()
                           
                        </div>
                        <div class="form-group col-xs-4">
                            @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label6";
                                   settings.Text = "Eway No   :";
                               }).GetHtml()
                            @Html.DevExpress().TextBoxFor(m => m.EwayBillNo, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Billing Address...";
                                       settings.ControlStyle.CssClass = "form-control";
                                   }).GetHtml()
                        </div>   
             </div>
                   <div class="row">
                       <div class="form-group col-xs-4">
                           @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label7";
                                   settings.Text = "Contact No   :";
                               }).GetHtml()

                           @Html.DevExpress().TextBoxFor(m => m.ContactNo, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Contact No...";
                                       settings.ControlStyle.CssClass = "form-control";
                                   }).GetHtml()
                       </div>
                       <div class="form-group col-xs-4">
                           @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label8";
                                   settings.Text = "Barcode   :";


                               }).GetHtml()
                           @Html.DevExpress().TextBoxFor(m => m.Barcode, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Barcode...";
                                       settings.ControlStyle.CssClass = "form-control";
                                   }).GetHtml()
                       </div>
                       <div class="form-group col-xs-4">
                           @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label9";
                                   settings.Text = "State Of Supply   :";
                               }).GetHtml()
                           @Html.DevExpress().DropDownEditFor(m => m.StateofSupply, settings =>
                                       {
                                           settings.Properties.NullText = "Select State";
                                           settings.ControlStyle.CssClass = "form-control";

                                           settings.SetDropDownWindowTemplateContent(c =>
                                           {
                                               ViewContext.Writer.Write("DropDown content");
                                           });
                                       }).GetHtml()
                       </div>
                   </div>
                   <nav class="navbar navbar-default ">
                       <div class="container-fluid">
                           <div class="collapse navbar-collapse ">
                                          
                           </div>
                       </div>
                   </nav>
          </div>
       </div>
        <div class="text-right">
            <a class="text-right" href="Grid">Back To List</a>
        </div>
    }
</body>
</html>



