@model SalesAndInentoryWeb_Application.Models.tbl_PaymentIn
@{
    Layout = "~/Views/Shared/ideal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrEdit</title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
</head>

<body>
    @using (Html.BeginForm())
    {

        <div class="panel panel-primary container" style="height:100%; width:100%;">

            <div class="panel-heading "><a class="btn" href=@Url.Action("Index","PaymentIn") style="background-color:#05445E;color:white">Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:17px;">Payment In</p></div>
            <div class="panel border-box">

                <nav class="navbar navbar-default ">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse ">
                            <br>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label1";
                                   settings.Text = "Party Name   :";


                               }).GetHtml()
                                    @Html.DevExpress().DropDownEditFor(m => m.CustomerName, settings =>
                               {
                                   settings.Properties.NullText = "Select Customer";
                                   settings.ControlStyle.CssClass = "form-control";

                                   settings.SetDropDownWindowTemplateContent(c =>
                                   {
                                       ViewContext.Writer.Write("DropDown content");
                                   });
                               }).GetHtml()
                                </div>
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label3";
                                   settings.Text = "ReceiptNo :";

                               }).GetHtml()
                                    @Html.DevExpress().TextBoxFor(m => m.ReceiptNo, settings =>
                               {
                                   settings.Properties.NullText = "Enter Receipt No...";
                                   settings.ControlStyle.CssClass = "form-control";
                               }).GetHtml()
                                </div>
                                <div class="form-group col-xs-3 text-center">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label35";
                                   settings.Text = "Image :";
                               }).GetHtml()
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label2";
                                   settings.Text = "PaymentType   :";

                               }).GetHtml()

                                    @Html.DevExpress().DropDownEditFor(m => m.PaymentType, settings =>
                               {
                                   settings.Properties.NullText = "Select PaymentType";
                                   settings.ControlStyle.CssClass = "form-control";

                                   settings.SetDropDownWindowTemplateContent(c =>
                                   {
                                       ViewContext.Writer.Write("DropDown content");
                                   });
                               }).GetHtml()
                                </div>

                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label90";
                                   settings.Text = "Date :";

                               }).GetHtml()

                                    @Html.DevExpress().DateEditFor(m => m.Date, settings =>
                               {
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Properties.NullText = "dd/MM/YYYY";

                               }).GetHtml()
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label4";
                                   settings.Text = "Description   :";


                               }).GetHtml()

                                    @Html.DevExpress().TextBoxFor(m => m.Description, settings =>
                               {
                                   settings.Properties.NullText = "Enter Description...";
                                   settings.ControlStyle.CssClass = "form-control";
                               }).GetHtml()
                                </div>
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label7";
                                   settings.Text = "Received Amt   :";
                               }).GetHtml()

                                    @Html.DevExpress().TextBoxFor(m => m.ReceivedAmount, settings =>
                               {
                                   settings.Properties.NullText = "Enter ReceivedAmount...";
                                   settings.ControlStyle.CssClass = "form-control";
                               }).GetHtml()
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label89";
                                   settings.Text = "Unused Amt   :";
                               }).GetHtml()

                                    @Html.DevExpress().TextBoxFor(m => m.UnusedAmount, settings =>
                               {
                                   settings.Properties.NullText = "Enter UnusedAmount...";
                                   settings.ControlStyle.CssClass = "form-control";
                               }).GetHtml()


                                </div>
                                <div class="form-group col-xs-4">
                                    @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label79";
                                   settings.Text = "Toatal   :";
                               }).GetHtml()

                                    @Html.DevExpress().TextBoxFor(m => m.Total, settings =>
                               {
                                   settings.Properties.NullText = "Enter Total...";
                                   settings.ControlStyle.CssClass = "form-control";
                               }).GetHtml()
                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right" style="margin-right:12px; margin-top:2px; " />
                    <a class="text-right btn btn-success" href=@Url.Action("Index","PaymentOut")>Back To List</a>
                </div>
            </div>
        </div>

    }
</body>
</html>
