@model SalesAndInentoryWeb_Application.Models.tbl_PaymentIn

@{
    Layout = null;
}
<style>
   #tt {
    background-color: white;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @*<h4>Company Iformation:</h4>
        <hr style="margin-top:10px;width:300px;margin-left:1px" />*@





    <div class="row">
        <div class="col-md-2"  style="text-align:right"> Party Name:</div>
        <div class="col-md-4">
        @Html.EditorFor(model => model.PartyName, new { htmlAttributes = new { @class = "form-control", id = "Company name" } })
        @Html.ValidationMessageFor(model => model.PartyName, "", new { @class = "text-danger" })
</div>
        <div class="col-md-2"  style="text-align:right">  Receipt No:</div>
        <div class="col-md-4">@Html.EditorFor(model => model.ReceiptNo, new { htmlAttributes = new { @class = "form-control", id = "tt" } })
        @Html.ValidationMessageFor(model => model.ReceiptNo, "", new { @class = "text-danger" })
</div>
    </div>
  <br />
        <div class="row">
            <div class="col-md-2" style="text-align:right">
                Pay Type:</div>
            <div class="col-md-4">
                <select id="PaymentType" name="PaymentType" class="form-control">
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="From Bank Account">From Bank Account</option>
                </select>
              

            </div>
    <div class="col-md-2" style="text-align:right"> Date:</div>
            <div class="col-md-4">
                
                   
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

                    
                </div>
            
        </div>
<br />
<div class="row">
    <div class="col-md-2" style="text-align:right">
        Description :
    </div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })




    </div>
    <div class="col-md-2" style="text-align:right"> Received :</div>
    <div class="col-md-4">
        @Html.EditorFor(model => model.ReceivedAmount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ReceivedAmount, "", new { @class = "text-danger" })
    </div>

</div>

           
        <br />   
            <div class="row">
                <div class="col-md-2"  style="text-align:right">
                Image:
                     </div>
                <div class="col-md-4">
                  <input type="file" name="updatefiel" class="form-control"/>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">

              
                    <input type="submit" value="Save" class="btn btn-primary" style="width:80px;font-size:14px;" />

                    <input type="reset" value="Clear" class="btn btn-primary" style="width:80px;font-size:14px;" />

                </div>
            </div>

}

