
@model SalesAndInentoryWeb_Application.tbl_CashAdjustment
@{
    Layout = null;
}
<style>
    #div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@using (Html.BeginForm("AddOrEdit", "CashInHand", FormMethod.Post@*, new { onsubmit = "return SubmitForm(this)" }*@))
{
    <div id="div">
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.BankName, new { @class = "control-label" })
                    <br>
                    @Html.DropDownListFor(model => model.BankName, Model.ListOfAccounts, "Select Bank", new { @class = "form-control" })
                    <br>
                </div>
                <div class="col-md-6">
                    <label>OpeningBal</label>
                    <input style="text-align:left" type="text" name="" id="OpeningBal" class="form-control">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                            @Html.LabelFor(model => model.CashAdjustment, new { @class = "control-label" })
                            <select name="cars" id="CashAdjustment" class="form-control">
                                <option value="Select Cash Adjustment">Select Cash Adjustment</option>
                                <option value="Cash Out">Cash Out</option>
                                <option value="Cash In">Cash In</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.CashAdjustment)
                        </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.CashAmount, new { @class = "control-label" })
                        @Html.EditorFor(model => model.CashAmount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    </div>
                </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Total</label>
                                <input style="text-align:left" type="text" name="Total" id="Total" class="form-control">
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Date, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Date, new { @type = "date", @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary pull-right" id="btnsubmit"/>
                        <input type="reset" value="Reset" class="btn btn-info pull-right" style="margin-right:10px;" />
                        <br>
                    </div>
                </div>
                }
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#BankName").change(function () {
                            var fruitId = $(this).find("option:selected").val();
                            if (fruitId != "") {
                                $.ajax({
                                    type: "POST",
                                    url: "/BankToBank/GetFruitName",
                                    data: "id=" + fruitId,
                                    success: function (response) {
                                        if (response != "") {
                                            $("#OpeningBal").val(response);
                                        } else {
                                            $("#OpeningBal").val('');
                                        }
                                    }
                                });
                            } else {
                                $("#txtopeningbal").val('');
                            }
                        });
                        $("input[type=text]").change(function () {
                            check();
                        });
                        $("btnsubmit").change(function () {
                            check1();
                        });
                        var date = new Date();
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        if (month < 10) month = "0" + month;
                        if (day < 10) day = "0" + day;
                        var today = year + "-" + month + "-" + day;
                        $("#Date").attr("value", today);
                      
                    });
                    function cal() {
                        var bal = $("#OpeningBal").val();
                        var amount = $("#CashAmount").val();
                        var total = bal - amount;
                        $("#Total").val(total);
                    }
                    function cal1() {
                        var bal = $("#OpeningBal").val();
                        var amount = $("#CashAmount").val();
                        var total = parseInt(bal) + parseInt(amount);
                        $("#Total").val(total);
                    }
                    function check() {
                        if ($("#CashAdjustment").val() == "Cash Out") {
                            cal();
                        }
                        else if ($("#CashAdjustment").val() == "Cash In") {
                            cal1();
                        }
                    }
                    function check1() {
                        if ($("#CashAmount").val() > $("#OpeningBal").val()) {
                            alert("Invalid Amount");
                        }
                        else {
                            onsubmit = "return SubmitForm(this)";
                        }
                    }
                </script>
