@model SalesAndInentoryWeb_Application.Models.tbl_MakePayment

@{
    Layout = "~/Views/Shared/ideal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrEdit</title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
</head>

<body>
    @using (Html.BeginForm())
    {
        <div class="panel panel-primary container" style="height:100%; width:100%;">
            <div class="panel-heading "><a class="btn" href=@Url.Action("Index", "LoanAccount") style="background-color:#05445E;color:white">Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:17px;">Make Payment</p></div>

      <div class="panel border-box">
                <br>
                <nav class="navbar navbar-default " style="background-color:white;border:none;"> 
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse " >
                            <br>
                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label1";
                                   settings.Text = "Account Name   :";

                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <select name="state" id="Accountname" class="form-control" style="border: 1px solid black" ;>
                                        <option value=""></option>
                                        <option value="">Vithoba Mali</option>
                                        <option value="">Rahul Badgujar</option>
                                        </select>
</div>

                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label3";
                                   settings.Text = "Date :";

                               }).GetHtml()
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="date" class="form-control" style="border: 1px solid black" />

                                </div>


                            </div>




                                <div class="row">
                                    <div class="form-group col-md-2 " style="text-align:right;">
                                        <div style="margin-top:10px;">
                                            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Style["font-weight"] = "bold";

                                       settings.Name = "Label2";
                                       settings.Text = "Loan Amount   :";

                                   }).GetHtml()
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.DevExpress().TextBoxFor(m => m.tbl_LoanBank.CurrentBal, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Loan Amount...";
                                       settings.ControlStyle.CssClass = "form-control";
                                       settings.Style["Border"] = "1px solid black";
                                   }).GetHtml()

                                    </div>

                                    <div class="form-group col-md-2">
                                        <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Style["font-weight"] = "bold";

                                       settings.Name = "Label90";
                                       settings.Text = "Total Amount :";

                                   }).GetHtml()
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.DevExpress().TextBoxFor(m => m.TotalAmount, settings =>
                                   {
                                       settings.Properties.NullText = "Enter Total Amount...";
                                       settings.ControlStyle.CssClass = "form-control";
                                       settings.Style["Border"] = "1px solid black";
                                   }).GetHtml()
                                    </div>


                            </div>


                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label69";
                                   settings.Text = "Principal Amount   :";
                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                @Html.DevExpress().TextBoxFor(m => m.PrincipleAmount, settings =>
                           {
                               settings.Properties.NullText = "Enter Principal Amount...";
                               settings.ControlStyle.CssClass = "form-control";
                               settings.Style["Border"] = "1px solid black";
                           }).GetHtml()

                                </div>

                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label4";
                                   settings.Text = "Paid From   :";


                               }).GetHtml()
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <select name="state" id="Accountname" class="form-control" style="border: 1px solid black" ;>
                                        <option value=""></option>
                                        <option value="">Vithoba Mali</option>
                                        <option value="">Rahul Badgujar</option>
                                    </select>

                                </div>


                            </div>



                            <div class="row">
                                <div class="form-group col-md-2 " style="text-align:right;">
                                    <div style="margin-top:10px;">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label7";
                                   settings.Text = "Interst Amount   :";
                               }).GetHtml()
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.DevExpress().TextBoxFor(m => m.InterestAmount, settings =>
                               {
                                   settings.Properties.NullText = "0";
                                   settings.ControlStyle.CssClass = "form-control";
                                   settings.Style["Border"] = "1px solid black";
                               }).GetHtml()

                                </div>

                                <div class="form-group col-md-2">
                                    <div style="margin-top:10px;text-align:right">
                                       
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="reset" value="Clear" class="btn btn-primary pull-left" style="margin-right:12px; margin-top:2px; width:35%;color:black " />
                                    <input type="submit" value="Save" class="btn btn-primary pull-left" style="margin-right:12px;margin-top:2px;width:35% ;color:black" />

                             </div>


                            </div>










                          
                           

                          
                        
                            </div>
                    </div>
                </nav>
                <div>
                       </div>
            </div>
        </div>

    }
</body>
</html>
