@model SalesAndInentoryWeb_Application.tbl_SaleOrder
@{
    ViewBag.Title = "Sale Order";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
 

    <style>
        .scrolldown {
            overflow-y: scroll;
            height: 100px;
        }

        textarea.form-control {
            height: 40px;
            margin: 0px;
            resize: vertical;

        }
        yourCustomClass{
         height: 40px;
            margin: 0px;
            resize: vertical;
          
        }
        #Party{
            height:200px;
            width:30px;
        }


    </style>
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger           
            $("#btnaddtolist").click(function () {

                AddToItem();             
            });

            $("#btnsubmit").click(function (e) {
              
                  additems();
            });
            $("#ID").change(function () {
                debugger
                var fruitId = $(this).find("option:selected").val();
                if (fruitId != "") {
                    $.ajax
                   ({
                       type: "POST",
                       url: "/SaleOrder/GetFruitName1",
                       data: "id=" + fruitId,
                       success: function (data) {
                           var content = "";
                           for (var x in data) {
                               $("#SalePrice").val(data[x].SalePrice);
                               $("#TaxForSale").val(data[x].TaxForSale);
                               $("#SaleTaxAmount").val(data[x].SaleTaxAmount);
                           }
                       }
                   });
                }
            });
            $("#PartiesID").change(function () {
                debugger
                var fruitId = $(this).find("option:selected").val();
                if (fruitId != "") {
                    $.ajax
                   ({
                       type: "POST",
                       url: "/SaleOrder/GetFruitName",
                       data: "id=" + fruitId,
                       success: function (data) {
                           var content = "";
                           for (var x in data) {
                               $("#BillingName").val(data[x].BillingAddress);
                               $("#ContactNo").val(data[x].ContactNo);
                           }

                       }
                   });
                }
            });
           
        });
        
        function RemoveItem(ItemName)
        {
            $(ItemName).closest('tr').remove();
        }
        function AddToItem()
        {
            var tableitemlist = $("#tblSaleInvoice");          
            var ItemName=$("#ID option:selected").val();
            var mrp = $("#SalePrice").val();
            var tax = $("#TaxForSale").val();
            var qty = $("#Qty").val();
            var dis = $("#Discount").val();
            var disamt = $("#DiscountAmount").val();
            var taxmat = $("#SaleTaxAmount").val();
            var total = $("#ItemTotal").val();

            var itemlist = "<tr><div class='scrollit' ><td>"
                + ItemName +
                "</td><td>"
                + mrp +
                "</td><td>"
                + tax +
                "</td><td>"
                + dis +
                "</td><td>"
            + qty +
            "</td><td>"
            + disamt +
            "</td><td>"
            + taxmat +
            "</td><td>"
            + total +
            "</td><td>"+           
            "<input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/>"+
                "</td></div></tr>"
            tableitemlist.append(itemlist);
            reset();
        }
        function reset()
        {
            $("#ID option:selected").val('0');
            $("#SalePrice").val('0');
            $("#TaxForSale").val('0');
            $("#Discount").val('0');
            $("#Qty").val('0');
            $("#DiscountAmount").val('0');
            $("#SaleTaxAmount").val('0');
            $("#ItemTotal").val('0');
        }
        function minus() {
            var pretotal1 = $("#Total").val();
            var pretotal2 = $("#RemainingBal").val();
            var find = pretotal1 - pretotal2
            $("#Received").val(find);
        };
        function additems()
        {
            debugger
            var objpartydetails = {};
            var listofitemdetails = [];
            var ItemDetails = {};
            //var tablemarks = $("#tblSaleInvoice").find("tr:gt(0)");

            $.each($("#tblSaleInvoice tbody tr"),
                function () {               
                    listofitemdetails.push({
                    ItemName : $(this).find("td:eq(0)").text(),
                    SalePrice :$(this).find("td:eq(1)").text(),
                    TaxForSale : $(this).find("td:eq(2)").text(),
                    Discount : $(this).find("td:eq(3)").text(),
                    Qty : $(this).find("td:eq(4)").text(),
                    DiscountAmount : $(this).find("td:eq(5)").text(),
                    SaleTaxAmount :$(this).find("td:eq(6)").text(),
                    ItemTotal : $(this).find("td:eq(7)").text()
                    });                                  
            });

            objpartydetails.PartyName = $("#PartiesID option:selected").val();
            objpartydetails.BillingName = $("#BillingName").val();
            objpartydetails.ContactNo = $("#ContactNo").val();
            objpartydetails.OrderDate = $("#OrderDate").val();
            objpartydetails.DueDate = $("#DueDate").val();
            objpartydetails.Barcode = $("#Barcode").val();
            objpartydetails.StateOfSupply = $("#StateOfSupply").val();
            objpartydetails.Received = $("#Received").val();
            objpartydetails.RemainingBal = $("#RemainingBal").val();
            objpartydetails.TransportName = $("#TransportName").val();

            objpartydetails.DeliveryLocation = $("#DeliveryLocation").val();
            objpartydetails.DeliverDate = $("#DeliveryDate").val();
            objpartydetails.PaymentType = $("#PaymentType").val();
            objpartydetails.TransportName = $("#TransportName").val();
            objpartydetails.Status = $("#Status").val();
            objpartydetails.VehicleNumber = $("#VehicleNumber").val();
            objpartydetails.CalTotal = $("#CalTotal").val();


            objpartydetails.listofitemdetail = listofitemdetails;


            $.ajax({
                async: true,
                type: "POST",
                datatype: 'JSON',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(objpartydetails),
                url: '/SaleOrder/AddOrEdit',
                success: function (data) {
                    if (data.status == true)
                    {
                        alter(data.message);
                    }
                },
                error: function ()
                {
                    alert("error");
                }

                });

        }
       
       
    </script>
</head>
<body>
        @using (Html.BeginForm("AddOrEdit", "SaleOrder", FormMethod.Post))
        {
        <div class="panel panel-primary container" style="height:100%; width:100%;">
            <div class="panel-heading"><a class="btn" href=@Url.Action("SaleOrder", "SaleOrder") style="background-color:#05445E;color:white">Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:20px;">Sale Order</p></div>
            <div class="panel border-box">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse ">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @*<div class="pull-right">
                                    @Html.DevExpress().Label(settings =>
                                    {
                                        settings.Style["font-weight"] = "bold";
                                        settings.Name = "Label1";
                                        settings.Text = "Party Name   :";
                                    }).GetHtml()
                                    </div>*@
                                <b>Party Name:</b>
                           <br>
                                     @Html.DropDownListFor(model => model.PartiesID, Model.ListOfParties as IEnumerable<SelectListItem>, "Select Item", new { htmlAttributes = new { @class = "form-control" ,@id="PartyName",@style="height:30px;"} })
                                <br>

                               Address:
                                <br>
                                @Html.TextAreaFor(model => model.BillingName, new { htmlAttributes = new { @class = "form-control" , @style = "width:220px" ,@id="BillingName"} })
                                <br>
                                Contact No:
                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile No.....", @style = "width:220px;height:32px" } })
                                @Html.ValidationMessageFor(model => model.ContactNo)
                            </div>
                            <div class="form-group col-md-7">
                                <div class="pull-right">
                                    Order No:
                                    @Html.TextBoxFor(model => model.OrderNo, new { @class = "form-control datepicker", @style = "width:150px;" })
                                    Order Date:
                                    @Html.TextBoxFor(model => model.DueDate, new { @type = "date", @class = "form-control datepicker", @style = "width:150px;" })
                                    Barcode:
                                    @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control", placeholder = "BarcodNo", @style = "width:150px;height:30px" } })
                                    @Html.ValidationMessageFor(model => model.Barcode)
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="pull-right">
                                    Eway BillNo:
                                    <input type="text" id="Ewaybil" value="Eway-Bill no" name="" class="form-control" style="width:150px;height:30px" >
                                    State Of Supllay:
                                    <select name="StateOfSupply" id="StateOfSupply" value="StateOfSupply" class="form-control" style="width:150px;height:30px">
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                   Due Date:
                                    @Html.TextBoxFor(model => model.DueDate, new { @type = "date", @class = "form-control datepicker",@style = "width:150px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <nav class="navbar navbar-default " style="border:none; background-color:white">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse ">
                            <div class="row">
                               

                                <div class="form-group col-xs-2">

                                    <label>Item Name</label>
                                   @Html.DropDownListFor(model => model.ID,Model.ListOfAccounts as IEnumerable<SelectListItem>, "Select Item", new { htmlAttributes = new { @class = "form-control" ,@id="ItemName",@name="ItemName"} })                                                                   
                                </div>
                                <div class="form-group col-xs-1">

                                    <label>MRP</label>
                                 @*  @Html.TextBoxFor(model => model.tbl_SaleOrderInner2.SalePrice, htmlAttributes: new { @style = "width:130px;height:35px", @class = "form-control" })*@
                                    <input style="text-align:left" type="text" name="SalePrice" id="SalePrice" class="form-control">
                                </div>
                                <div class="form-group col-xs-1">
                                    <label>Tax%</label>
                                   @* @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.TaxForSale, htmlAttributes: new { id = "ts", @style = "width:130px;height:35px", @class = "form-control" })*@
                                    <input style="text-align:left" type="text" name="TaxForSale" id="TaxForSale" class="form-control">
                                 
                                </div>
                                <div class="form-group col-xs-1">

                                    <label>Descount</label>
                                  @*  @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.Discount, htmlAttributes: new { id = "ds", @style = "width:130px;height:35px", @class = "form-control" })*@
                                    <input style="text-align:left" type="text" name="Discount" id="Discount" class="form-control">

                                </div>
                                <div class="form-group col-xs-1">
                                    <label>Qty</label>
                                  @*  @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.Qty, htmlAttributes: new { id = "qty", @style = "width:130px;height:35px", @class = "form-control" })*@                                 
                                    <input style="text-align:left" type="text" name="Qty" id="Qty" class="form-control">

                                </div>
                                <div class="form-group col-xs-1">

                                    <label>Dis Amt</label>
                                   @* @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.DiscountAmount, htmlAttributes: new { id = "da", @style = "width:130px;height:35px", @class = "form-control" })*@

                                    <input style="text-align:left" type="text" name="DiscountAmount" id="DiscountAmount" class="form-control">



                                </div>
                                <div class="form-group col-xs-2">
                                    <label>Tax Amt</label>
                                  @*  @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.SaleTaxAmount, htmlAttributes: new { id = "sa", @style = "width:130px;height:35px", @class = "form-control" })*@
                                    <input style="text-align:left" type="text" name="SaleTaxAmount" id="SaleTaxAmount" class="form-control">



                                
                                </div>
                                <div class="form-group col-xs-2">
                                    <label>Total</label>
                                    <input style="text-align:left" type="text" name="ItemTotal" id="ItemTotal" class="form-control">
                                 
                                    @*   @Html.TextBoxFor(item => item.tbl_SaleOrderInner2.ItemTotal, htmlAttributes: new { id = "ca", @style = "width:130px;height:35px;", @class = "form-control" })*@
                                    </div>

                                    <div class="col-xs-1">
                                        <a class="btn btn-success pull-right" style="margin-top:20px;" id="btnaddtolist"><i class="fa fa-plus"></i>Add Item</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-default " style="border:none; background-color:white">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse ">
                            <div class="form-group scrolldown" style="height:200px">
                                <table class="table table-striped table-bordered" style="width:100%;" id="tblSaleInvoice">
                                    <thead>
                                        <tr>
                                            <th>
                                                Item ID
                                            </th>
                                            <th>
                                              Item Name                                             
                                            </th>
                                            <th>
                                               MRP
                                            </th>
                                            <th>
                                                Tax%                                            
                                            </th>
                                            <th>
                                                Discount
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Dis Amount
                                            </th>
                                            <th>
                                                Tax Amount
                                            </th>
                                            <th>
                                                Total
                                            </th>                                      
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse ">
                        <div class="row">
                            <div class="col-md-2">
                                Payment Type:
                                <select name="cars" id="PaymentType" class="form-control" style="width:150px;">
                                    <option value="Cash">Cash</option>
                                    <option value="OnlinPayment">Online Payment</option>
                                </select>
                               Transport Name:
                                @Html.EditorFor(model => model.TransportName, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   placeholder = "Transport Name",
                                   @style = "width:150px;height:30px;"
                               }
                           })
                               Delivery Location:
                                @Html.EditorFor(model => model.DeliveryLocation, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   placeholder = "Delivery Location",
                                   @style = "width:150px;height:30px;"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.DeliveryLocation)
                            </div>
                            <div class="col-md-2 form-group">
                                Cheque No:
                                @Html.EditorFor(model => model.VehicleNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Cheek no", @style = "width:150px;" } })
                                @Html.ValidationMessageFor(model => model.VehicleNumber)
                               Delivery Date:
                                @Html.TextBoxFor(model => model.Deliverydate, new { @type = "date", @class = "form-control", @style = "width:150px;" })
                               Payment Status:
                                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                                   {
                                       new SelectListItem {Text = "Paid", Value = "Paid", Selected = true },
                                       new SelectListItem {Text = "Unpaid", Value = "Unpaid" },
                                      
                                   }, new { @class = "form-control", @style = "width:150px" })
                            </div>
                            <div class="col-md-8 form-group">
                                <div class="pull-right">
                                    Total:
                                    @Html.EditorFor(model => model.CalTotal, new { htmlAttributes = new { @class = "form-control", placeholder = "Total Amount" } })
                                    @Html.ValidationMessageFor(model => model.CalTotal)
                                    Recived :
                                    @Html.EditorFor(model => model.RemainingBal, new { htmlAttributes = new { @class = "form-control", placeholder = "Recive Ammount" ,@onchange="minus()"} })
                                    @Html.ValidationMessageFor(model => model.RemainingBal)
                                   Remaining Balance:
                                    @Html.EditorFor(model => model.Received, new { htmlAttributes = new { @class = "form-control", placeholder = "Remining Balance"  } })
                                    @Html.ValidationMessageFor(model => model.Received)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 form-group" style="margin-top:8px; ">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1 form-group" style="margin-top:8px; ">
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="submit" value="Submit" class="btn btn-primary pull-left" style="margin-right:12px; width:100px;" id="btnsubmit"/>
                            <input type="reset" value="Clear" class="btn btn-primary pull-right" style="margin-right:12px; width:100px;" />
                        </div>
                        <div class="col-md-1 form-group" style="margin-top:8px; ">
                        </div>
                        <div class="col-md-3 form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
   }

    <br />

    <br />

    <br />

    <br />

    <br />

    <br />

</body>
</html>
