
@model SalesAndInentoryWeb_Application.tbl_BankAdjustment

@{
    Layout = null;
}
<style>
    #div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@using (Html.BeginForm("AddOrEdit", "BankAdjustment", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div id="div">
    @Html.HiddenFor(model => model.ID)
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.BankAccount, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.BankAccount, Model.ListOfAccounts, "Select Bank", new { @class = "form-control", placeholder = "Select Bank Account....." })
                @Html.ValidationMessageFor(model => model.BankAccount)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Date, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Date, new { @type = "date", @class = "form-control" })
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="form-group">

            @{   List<SelectListItem> listItems = new List<SelectListItem>();

                listItems.Add(new SelectListItem
                {
                    Text = "Credit",
                    Value = "Credit"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Debit",
                    Value = "Debit",
                    Selected = true
                });

            }
            <div class="col-md-6">
                @Html.LabelFor(model => model.EntryType, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.EntryType, listItems, new { @class = "form-control", placeholder = "Select EntryType" })

                @Html.ValidationMessageFor(model => model.EntryType)
            </div>
           
            <div class="col-md-6">
                @Html.LabelFor(model => model.Amount, new { @class = "control-label" })
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Amount....." } })
            </div>
          
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter Desciption....." })
    </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary pull-right" />
                    <input type="reset" value="Reset" class="btn btn-info pull-right"  style="margin-right:10px;"/>
                </div>
        <br>
        </div>
                }
