@model SalesAndInentoryWeb_Application.Models.tbl_ItemServicemaster
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )

</head>
<body>

    @using (Html.BeginForm())
    {

        <div class="panel panel-primary" style="height:100%; width:100%;">


            <div class="panel-heading "><a class="btn btn-success" href=@Url.Action("Index","ItemServices")>Back To List</a><p style="margin-left:486px;margin-top: -31px;font-weight:bold;font-size:17px;">Item Services</p></div>
            <br />
            <div class="panel-body text-center">
                <center>
                    <table class="tabel table-sm" column-gap="40px">
                        <tbody>
                            <tr>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label1";
                                   settings.Text = "Item Name";
                               }).GetHtml()
                                    </div>
                                </td>

                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center">
                                            @Html.DevExpress().TextBoxFor(m => m.ItemName, settings =>
                                       {
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Item Name...";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label2";
                                   settings.Text = "Item HSN Code   :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center">
                                            @Html.DevExpress().TextBoxFor(m => m.ItemHSNCOde, settings =>
                                       {
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Item HSN Code...";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-left">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label17";
                                   settings.Text = "Image   :";

                               }).GetHtml()
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label3";
                                   settings.Text = "Unit  :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center ">
                                            @Html.DevExpress().TextBoxFor(m => m.Unit, settings =>
                                       {
                                           // settings.Width = 300;
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Unit....";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";
                                   settings.Name = "Label4";
                                   settings.Text = "Sub Unit   :";

                               }).GetHtml()

                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center">
                                            <select name="bankname" class="form-control" style="border: 1px solid black">
                                                <option selected="selected" value="0">--Select --</option>
                                                <option value="1">ALLAHABAD BANK </option>
                                                <option value="2">ANDHRA BANK</option>
                                                <option value="3">AXIS BANK</option>
                                                <option value="29">STATE BANK OF INDIA</option>
                                                <option value="4">BANK OF BARODA</option>
                                                <option value="29">UCO BANK</option>
                                                <option value="29">UNION BANK OF INDIA</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="20">BANDHAN BANK LIMITED</option>
                                                <option value="7">CANARA BANK</option>
                                                <option value="32">GRAMIN VIKASH BANK</option>
                                                <option value="8">CORPORATION BANK</option>
                                                <option value="9">INDIAN BANK</option>
                                                <option value="10">INDIAN OVERSEAS BANK</option>
                                                <option value="11">ORIENTAL BANK OF COMMERCE</option>
                                                <option value="12">PUNJAB AND SIND BANK</option>
                                                <option value="13">PUNJAB NATIONAL BANK</option>
                                                <option value="14">RESERVE BANK OF INDIA</option>
                                                <option value="15">SOUTH INDIAN BANK</option>
                                                <option value="16">UNITED BANK OF INDIA</option>
                                                <option value="17">CENTRAL BANK OF INDIA</option>
                                                <option value="18">VIJAYA BANK</option>
                                                <option value="19">DENA BANK</option>
                                                <option value="21">BHARATIYA MAHILA BANK LIMITED</option>
                                                <option value="22">FEDERAL BANK LTD </option>
                                                <option value="23">HDFC BANK LTD</option>
                                                <option value="24">ICICI BANK LTD</option>
                                                <option value="25">IDBI BANK LTD</option>
                                                <option value="66">PAYTM BANK</option>
                                                <option value="29">FINO PAYMENT BANK</option>
                                                <option value="26">INDUSIND BANK LTD</option>
                                                <option value="27">KARNATAKA BANK LTD</option>
                                                <option value="28">KOTAK MAHINDRA BANK</option>
                                                <option value="30">YES BANK LTD</option>
                                                <option value="31">SYNDICATE BANK</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="6">BANK OF MAHARASHTRA</option>
                                            </select>
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 20px 20px 20px">

                                    <div class="form-group text-center">
                                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-cotrol" } })
                                        <input type="file" name="imageload" />
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label5";
                                   settings.Text = "Item Code  :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center ">
                                            @Html.DevExpress().TextBoxFor(m => m.ItemCode, settings =>
                                       {
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Item Code....";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label6";
                                   settings.Text = "Category   :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center">
                                            <select name="bankname" class="form-control" style="border: 1px solid black">
                                                <option selected="selected" value="0">--Select --</option>
                                                <option value="1">ALLAHABAD BANK </option>
                                                <option value="2">ANDHRA BANK</option>
                                                <option value="3">AXIS BANK</option>
                                                <option value="29">STATE BANK OF INDIA</option>
                                                <option value="4">BANK OF BARODA</option>
                                                <option value="29">UCO BANK</option>
                                                <option value="29">UNION BANK OF INDIA</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="20">BANDHAN BANK LIMITED</option>
                                                <option value="7">CANARA BANK</option>
                                                <option value="32">GRAMIN VIKASH BANK</option>
                                                <option value="8">CORPORATION BANK</option>
                                                <option value="9">INDIAN BANK</option>
                                                <option value="10">INDIAN OVERSEAS BANK</option>
                                                <option value="11">ORIENTAL BANK OF COMMERCE</option>
                                                <option value="12">PUNJAB AND SIND BANK</option>
                                                <option value="13">PUNJAB NATIONAL BANK</option>
                                                <option value="14">RESERVE BANK OF INDIA</option>
                                                <option value="15">SOUTH INDIAN BANK</option>
                                                <option value="16">UNITED BANK OF INDIA</option>
                                                <option value="17">CENTRAL BANK OF INDIA</option>
                                                <option value="18">VIJAYA BANK</option>
                                                <option value="19">DENA BANK</option>
                                                <option value="21">BHARATIYA MAHILA BANK LIMITED</option>
                                                <option value="22">FEDERAL BANK LTD </option>
                                                <option value="23">HDFC BANK LTD</option>
                                                <option value="24">ICICI BANK LTD</option>
                                                <option value="25">IDBI BANK LTD</option>
                                                <option value="66">PAYTM BANK</option>
                                                <option value="29">FINO PAYMENT BANK</option>
                                                <option value="26">INDUSIND BANK LTD</option>
                                                <option value="27">KARNATAKA BANK LTD</option>
                                                <option value="28">KOTAK MAHINDRA BANK</option>
                                                <option value="30">YES BANK LTD</option>
                                                <option value="31">SYNDICATE BANK</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="6">BANK OF MAHARASHTRA</option>
                                            </select>
                                        </div>
                                    </center>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label7";
                                   settings.Text = "Sale Price  :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center ">
                                            @Html.DevExpress().TextBoxFor(m => m.SalePrice, settings =>
                                       {
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Sale Price....";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                                       {
                                           settings.Style["font-weight"] = "bold";

                                           settings.Name = "Label8";
                                           settings.Text = "Tax Type   :";


                                       }).GetHtml()
                                    </div>
                                </td>

                                <td style="padding:0 15px 0 15px">


                                    <center>
                                        <div class="form-group text-center">
                                            <select name="bankname" class="form-control" style="border: 1px solid black">
                                                <option selected="selected" value="0">--Select --</option>
                                                <option value="1">ALLAHABAD BANK </option>
                                                <option value="2">ANDHRA BANK</option>
                                                <option value="3">AXIS BANK</option>
                                                <option value="29">STATE BANK OF INDIA</option>
                                                <option value="4">BANK OF BARODA</option>
                                                <option value="29">UCO BANK</option>
                                                <option value="29">UNION BANK OF INDIA</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="20">BANDHAN BANK LIMITED</option>
                                                <option value="7">CANARA BANK</option>
                                                <option value="32">GRAMIN VIKASH BANK</option>
                                                <option value="8">CORPORATION BANK</option>
                                                <option value="9">INDIAN BANK</option>
                                                <option value="10">INDIAN OVERSEAS BANK</option>
                                                <option value="11">ORIENTAL BANK OF COMMERCE</option>
                                                <option value="12">PUNJAB AND SIND BANK</option>
                                                <option value="13">PUNJAB NATIONAL BANK</option>
                                                <option value="14">RESERVE BANK OF INDIA</option>
                                                <option value="15">SOUTH INDIAN BANK</option>
                                                <option value="16">UNITED BANK OF INDIA</option>
                                                <option value="17">CENTRAL BANK OF INDIA</option>
                                                <option value="18">VIJAYA BANK</option>
                                                <option value="19">DENA BANK</option>
                                                <option value="21">BHARATIYA MAHILA BANK LIMITED</option>
                                                <option value="22">FEDERAL BANK LTD </option>
                                                <option value="23">HDFC BANK LTD</option>
                                                <option value="24">ICICI BANK LTD</option>
                                                <option value="25">IDBI BANK LTD</option>
                                                <option value="66">PAYTM BANK</option>
                                                <option value="29">FINO PAYMENT BANK</option>
                                                <option value="26">INDUSIND BANK LTD</option>
                                                <option value="27">KARNATAKA BANK LTD</option>
                                                <option value="28">KOTAK MAHINDRA BANK</option>
                                                <option value="30">YES BANK LTD</option>
                                                <option value="31">SYNDICATE BANK</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="6">BANK OF MAHARASHTRA</option>
                                            </select>
                                        </div>
                                    </center>

                                </td>

                               
                            </tr>
                            <tr>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label9";
                                   settings.Text = "Tax Rate  :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center ">
                                            <select name="bankname" class="form-control" style="border: 1px solid black">
                                                <option selected="selected" value="0">--Select --</option>
                                                <option value="1">ALLAHABAD BANK </option>
                                                <option value="2">ANDHRA BANK</option>
                                                <option value="3">AXIS BANK</option>
                                                <option value="29">STATE BANK OF INDIA</option>
                                                <option value="4">BANK OF BARODA</option>
                                                <option value="29">UCO BANK</option>
                                                <option value="29">UNION BANK OF INDIA</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="20">BANDHAN BANK LIMITED</option>
                                                <option value="7">CANARA BANK</option>
                                                <option value="32">GRAMIN VIKASH BANK</option>
                                                <option value="8">CORPORATION BANK</option>
                                                <option value="9">INDIAN BANK</option>
                                                <option value="10">INDIAN OVERSEAS BANK</option>
                                                <option value="11">ORIENTAL BANK OF COMMERCE</option>
                                                <option value="12">PUNJAB AND SIND BANK</option>
                                                <option value="13">PUNJAB NATIONAL BANK</option>
                                                <option value="14">RESERVE BANK OF INDIA</option>
                                                <option value="15">SOUTH INDIAN BANK</option>
                                                <option value="16">UNITED BANK OF INDIA</option>
                                                <option value="17">CENTRAL BANK OF INDIA</option>
                                                <option value="18">VIJAYA BANK</option>
                                                <option value="19">DENA BANK</option>
                                                <option value="21">BHARATIYA MAHILA BANK LIMITED</option>
                                                <option value="22">FEDERAL BANK LTD </option>
                                                <option value="23">HDFC BANK LTD</option>
                                                <option value="24">ICICI BANK LTD</option>
                                                <option value="25">IDBI BANK LTD</option>
                                                <option value="66">PAYTM BANK</option>
                                                <option value="29">FINO PAYMENT BANK</option>
                                                <option value="26">INDUSIND BANK LTD</option>
                                                <option value="27">KARNATAKA BANK LTD</option>
                                                <option value="28">KOTAK MAHINDRA BANK</option>
                                                <option value="30">YES BANK LTD</option>
                                                <option value="31">SYNDICATE BANK</option>
                                                <option value="5">BANK OF INDIA</option>
                                                <option value="6">BANK OF MAHARASHTRA</option>
                                            </select>
                                        </div>
                                    </center>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <div class="form-group text-right ">
                                        @Html.DevExpress().Label(settings =>
                               {
                                   settings.Style["font-weight"] = "bold";

                                   settings.Name = "Label10";
                                   settings.Text = "Description   :";

                               }).GetHtml()
                                    </div>
                                </td>
                                <td style="padding:0 15px 0 15px">
                                    <center>
                                        <div class="form-group text-center ">
                                            @Html.DevExpress().TextBoxFor(m => m.Description, settings =>
                                       {
                                           settings.ControlStyle.CssClass = "form-control";
                                           settings.Properties.NullText = "Enter Sale Price....";
                                           settings.Style["border"] = "1px solid black";
                                       }).GetHtml()
                                        </div>
                                    </center>
                                </td>
                               
                            </tr>
                        </tbody>

                    </table>

                </center>
                <br>             
                <input type="reset" value="Clear" class="btn btn-primary" style="width:100px;font-size:14px; margin-top:-20px; margin-left:1000px" />
                <input type="submit" value="Save" class="btn btn-primary" style="width:100px;font-size:14px; margin-top:-20px;" />
            </div>

        </div>

    }
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

